
.icon-book-open:before { content: '\e800'; } /* '' */
.icon-database:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-camera-outline:before { content: '\e803'; } /* '' */
.icon-heart-filled:before { content: '\e804'; } /* '' */
.icon-sun:before { content: '\e805'; } /* '' */
.icon-rain:before { content: '\e806'; } /* '' */
.icon-king:before { content: '\e807'; } /* '' */
.icon-angellist:before { content: '\e808'; } /* '' */
.icon-garden:before { content: '\e81a'; } /* '' */
.icon-tree-1:before { content: '\e83e'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
